Capstone error workflow (1).json
{
  "name": "Capstone error workflow",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "Error Alert",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "85898949-4d62-453c-b2cd-239395471e2e",
      "name": "Webhook",
      "webhookId": "9838a7c3-9ca3-41af-8e36-0e73860fc6dc"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1PR3Qqn0gFTeCp-yXM6zkhavjocWqbFtxmroEZRyeVi4/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PR3Qqn0gFTeCp-yXM6zkhavjocWqbFtxmroEZRyeVi4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Time": "={{ $now }}",
            "Webhook URL": "={{ $json.webhookUrl }}",
            "Execution Mode": "={{ $json.executionMode }}",
            "Error Message": "An unexpected error occurred while processing your request. The AI agent was unable to complete the task successfully. Please review the input data, verify the workflow configuration, and try again. If the issue persists, check the execution logs for more detailed error information.",
            "Error": "={{ $json.query.Error }}"
          },
          "matchingColumns": [
            "Time"
          ],
          "schema": [
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Webhook URL",
              "displayName": "Webhook URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Execution Mode",
              "displayName": "Execution Mode",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Error",
              "displayName": "Error",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "4455c35c-5e73-43df-a348-7588ae2d9ade",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yZyj6GHp9k6H72Hv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "=pm2530273@gmail.com ",
        "subject": "Error Alert",
        "emailType": "text",
        "message": "=Error Message:{{ $('Append or update row in sheet1').item.json['Error Message'] }}\n\nRoot Cause:{{ $('Append or update row in sheet1').item.json['Root cause'] }}\n\nRecommended Solution:{{ $('Append or update row in sheet1').item.json['Recommended Solution'] }}\n\nPriority Level:{{ $('Append or update row in sheet1').item.json['Priority Level'] }}\n\nPrevention:{{ $('Append or update row in sheet1').item.json.Prevention }}\n\nConfidence Level:{{ $('Append or update row in sheet1').item.json['Confidence Level'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2016,
        0
      ],
      "id": "626bfa03-7190-4bef-8b2e-3d10b1a25903",
      "name": "Send a message",
      "webhookId": "41f436e0-43d7-4571-bda6-99adb2b7c82b",
      "credentials": {
        "gmailOAuth2": {
          "id": "JTm676SxC2ltaW1E",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 5000,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        272,
        208
      ],
      "id": "b27c2857-91f9-4dd0-bb39-37a7a75d1263",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "70h9OtMpY7R3gEfX",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 5000,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        368,
        304
      ],
      "id": "aa8de9ba-2d0d-4e4a-9a26-f6109b129814",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "xQ4SJNmyKC9Metel",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $now }}",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        464,
        208
      ],
      "id": "e940a2c5-b24b-459e-bfb4-5c9a78cfd1f5",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert n8n workflow troubleshooting assistant.\n\nAnalyze the following workflow error:{{ $json.Error }}\n\n\n\nBased on this error, provide a detailed analysis in the following format:\n\n1. Error Summary\n- Explain in simple language what the error means.\n\n2. Root Cause\n- Identify the most likely cause(s) of the error.\n- Mention any assumptions if the exact cause cannot be determined.\n\n3. Recommended Solution\n- Provide step-by-step instructions to resolve the issue.\n- If there are multiple possible fixes, rank them from most likely to least likely.\n\n4. Priority Level\nClassify this issue as one of:\n- High: The workflow has completely failed, data loss may occur, critical integrations are down, or manual intervention is immediately required.\n- Medium: The workflow is partially working, affects some users or records, or may become critical if not addressed.\n- Low: Minor issue, warning, cosmetic problem, or temporary issue with minimal business impact.\n\nExplain why you assigned this priority.\n\n5. Prevention\nRecommend best practices to prevent this error from occurring again.\n\n6. Confidence Level\nIndicate your confidence in the diagnosis as High, Medium, or Low, and explain why.\n\nKeep the response concise but actionable.",
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        416,
        0
      ],
      "id": "32ddcb3a-7bbe-4c53-bcb6-d161bd39ef3d",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1PR3Qqn0gFTeCp-yXM6zkhavjocWqbFtxmroEZRyeVi4",
          "mode": "list",
          "cachedResultName": "Newsletter Error Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PR3Qqn0gFTeCp-yXM6zkhavjocWqbFtxmroEZRyeVi4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 275414563,
          "mode": "list",
          "cachedResultName": "Solution",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PR3Qqn0gFTeCp-yXM6zkhavjocWqbFtxmroEZRyeVi4/edit#gid=275414563"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Error Message": "={{ $json.output.errorMessage }}",
            "Root cause": "={{ $json.output.rootCause }}",
            "Recommended Solution": "={{ $json.output.solution }}",
            "Priority Level": "={{ $json.output.priority }}",
            "Prevention": "={{ $json.output.prevention }}",
            "Confidence Level": "={{ $json.output.confidence }}"
          },
          "matchingColumns": [
            "Priority Level"
          ],
          "schema": [
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Root cause",
              "displayName": "Root cause",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Recommended Solution",
              "displayName": "Recommended Solution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Priority Level",
              "displayName": "Priority Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Prevention",
              "displayName": "Prevention",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Confidence Level",
              "displayName": "Confidence Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1136,
        0
      ],
      "id": "8bc62582-de84-4027-ba91-718c51481005",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yZyj6GHp9k6H72Hv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a formatting assistant.\n\nTake the provided {{ $json.output }} and reorganize it into the following sections. Do not change the meaning of the content, add new information, or remove important details. Simply classify the information into the appropriate headings.\n\nUse the exact headings below and output them in this order:\n\n## Error Summary\nProvide a concise summary of the error or issue.\n\n## Root Cause\nState the underlying cause(s) of the error.\n\n## Recommended Solution\nList the recommended steps to resolve the issue. If there are multiple solutions, present them as bullet points.\n\n## Priority Level\nAssign one of the following values:\n- Critical\n- High\n- Medium\n- Low\n\nInclude a brief justification for the selected priority.\n\n## Prevention\nDescribe actions or best practices that would help prevent this error from occurring again.\n\n## Confidence Level\nState one of the following:\n- High\n- Medium\n- Low\n\nInclude a one-sentence explanation of why this confidence level was assigned.\n\nRules:\n- Preserve all important information from the original output.\n- Do not invent facts or assumptions.\n- If information for a section is missing, write \"Not provided.\"\n- Return only the formatted output using the headings above.\n- Ensure the output is clear, professional, and easy to read.\n-Every section should go to the next node as a separate JSON object that can be dragged.\n",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        768,
        0
      ],
      "id": "ee8b0c64-018e-4393-94c0-90463cf3cae4",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 1000,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        640,
        208
      ],
      "id": "ccf37bc5-3209-448b-bdcb-0a3dfee31b66",
      "name": "Mistral Cloud Chat Model1",
      "credentials": {
        "mistralCloudApi": {
          "id": "70h9OtMpY7R3gEfX",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 1000,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        720,
        304
      ],
      "id": "a3afd8eb-7d95-40f1-9211-7238046ad959",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "xQ4SJNmyKC9Metel",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $now }}",
        "contextWindowLength": 25
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        816,
        208
      ],
      "id": "7e03b9ba-3510-4067-bf1f-85d764971ce9",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"timestamp\": \"2026-05-15T10:30:00Z\",\n  \"workflowName\": \"Customer Sync Workflow\",\n  \"failedNode\": \"HTTP Request\",\n  \"errorMessage\": \"401 Unauthorized - Invalid API key\",\n  \"rootCause\": \"The API credentials are invalid or have expired.\",\n  \"solution\": \"Verify the API credentials, update the API key if necessary, and test the connection before rerunning the workflow.\",\n  \"priority\": \"High\",\n  \"confidence\": \"High\",\n  \"status\": \"Failed\",\n  \"prevention\":\"avoid using the wrong format\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        944,
        208
      ],
      "id": "6b2a3040-1e3b-4bb4-87eb-9c092390229d",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['Priority Level'] }}",
                    "rightValue": "High",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f624261c-8b26-410e-97c7-3d85c22692f6"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "265ac892-34fa-4727-8a9d-4b334ad3ea4c",
                    "leftValue": "={{ $json['Priority Level'] }}",
                    "rightValue": "Low",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4f22da6c-801f-401b-9e41-a9c87c0b3572",
                    "leftValue": "={{ $json['Priority Level'] }}",
                    "rightValue": "Medium",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1344,
        0
      ],
      "id": "7b3113a1-9b32-4030-89c7-dfd0371d9a05",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "pm2530273@gmail.com",
        "subject": "Confirmation for error",
        "message": "=Hi,\n\nI have confirmed that there is an error in the workflow caused by {{ $json['Root cause'] }}. Could you please investigate the  {{ $json['Error Message'] }}  and make the necessary fixes?\n\nPlease let me know if you need any additional information or the execution logs to help with troubleshooting.\n\nThank you.\n\nBest regards,\n",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1616,
        16
      ],
      "id": "a220ddfb-f90f-453b-b741-2dbb8479b56c",
      "name": "Send message and wait for response",
      "webhookId": "e462a5e4-53df-48bb-87ce-d6f7a06f47a9",
      "credentials": {
        "gmailOAuth2": {
          "id": "JTm676SxC2ltaW1E",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1824,
        16
      ],
      "id": "d1ab04f4-5031-42a6-bc16-d0ecdef960cb",
      "name": "Wait",
      "webhookId": "59f0a531-ec21-47da-aa59-e783e658e85f"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet1": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "569a0d22-97c8-405e-9143-da1f78dc0cab",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ed40356dc18d2fd219bef530bfaa226a17623d466bca2fef19f39a6a2ffb15c4"
  },
  "nodeGroups": [],
  "id": "yXMfavx0OeQphNjQ",
  "tags": []
}