Capstone Project 1 (1).json
{
  "name": "Capstone Project 1",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                5
              ],
              "triggerAtHour": 7
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -1136,
        2160
      ],
      "id": "c0d970fc-baaa-470e-9489-c0adf1e7576d",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://www.standardmedia.co.ke/rss/politics.php",
        "options": {
          "allowUnauthorizedCerts": false
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -912,
        2464
      ],
      "id": "21c3f8f0-4e5d-4741-8181-c1e25e6ecb75",
      "name": "Standard Media",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://smartfarmerkenya.com/feed/?v=25bc6654798e",
        "options": {
          "allowUnauthorizedCerts": false
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -912,
        1056
      ],
      "id": "ad2ee649-ee27-4f97-afc0-53da863ead8b",
      "name": "Smart Farmer",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://nation.africa/kenya/rss.xml",
        "options": {
          "allowUnauthorizedCerts": false
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -912,
        1808
      ],
      "id": "9aa0cd76-f62f-4cc0-a623-38fb76340206",
      "name": "Nation Africa",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://techcabal.com/feed/",
        "options": {
          "allowUnauthorizedCerts": false
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -912,
        3264
      ],
      "id": "912a8039-f9ca-41c1-b2eb-2aa36147eb63",
      "name": "Techcabal",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "https://techweez.com/feed/",
        "options": {
          "allowUnauthorizedCerts": false
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -912,
        4224
      ],
      "id": "acd17df6-0199-4877-8926-2c0f5e58bee1",
      "name": "Tech Weez",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract the single most important agriculture headline from the following raw HTML/JSON: {{ $json.data }}.\n\nInstructions:\n1. Extract the exact title (headline) of the article.\n2. Write the summary as continuous text (not bullet points, lists, or JSON) in **2 concise paragraphs**. The summary should explain the main events, key facts, and any important context.\n3. Write a final paragraph explaining why the story is significant and its potential impact on the agriculture industry, businesses, or consumers.\n4. Return the output in the following format only:\n\nTitle: <exact article title>\n\nSummary:\n<Paragraph 1>\n\n<Paragraph 2>",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -592,
        0
      ],
      "id": "3ad59b85-13dd-425b-886c-25f964561748",
      "name": "AI Agent",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $now }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        -432,
        224
      ],
      "id": "34513c44-600c-4fe7-844b-38759f7680c7",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"source\": \"Name\",\n  \"headline\": \"Exact article title\",\n  \"summary\": \"First paragraph.\\n\\nSecond paragraph.\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -304,
        224
      ],
      "id": "12ea43f4-ad71-4226-a6b4-3326689b233e",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract the single most important political headline from the following raw HTML/JSON: {{ $json.data }}.\n\nInstructions:\n1. Extract the exact title (headline) of the article.\n2. Write the summary as continuous text (not bullet points, lists, or JSON) in **2 concise paragraphs**. The summary should explain the main events, key facts, and any important context.\n3. Write a final paragraph explaining why the story is significant and its potential impact on the political scene, businesses, or consumers.\n4. Return the output in the following format only:\n\nTitle: <exact article title>\n\nSummary:\n<Paragraph 1>\n\n<Paragraph 2>",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -592,
        2208
      ],
      "id": "8eabaa5b-9ef4-4cdf-a882-d6eb8827cfdd",
      "name": "AI Agent1",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $now }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        -432,
        2432
      ],
      "id": "668adb28-4598-40d6-ac43-ed71f1db7c44",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"source\": \"Name\",\n  \"headline\": \"Exact article title\",\n  \"summary\": \"First paragraph.\\n\\nSecond paragraph.\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -304,
        2432
      ],
      "id": "914890b6-e4cf-4da8-afbd-cf4a24680962",
      "name": "Structured Output Parser2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract the single most important agriculture headline from the following raw HTML/JSON: {{ $json.data }}.\n\nInstructions:\n1. Extract the exact title (headline) of the article.\n2. Write the summary as continuous text (not bullet points, lists, or JSON) in **2 concise paragraphs**. The summary should explain the main events, key facts, and any important context.\n3. Write a final paragraph explaining why the story is significant and its potential impact on the agriculture industry, businesses, or consumers.\n4. Return the output in the following format only:\n\nTitle: <exact article title>\n\nSummary:\n<Paragraph 1>\n\n<Paragraph 2>",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -592,
        800
      ],
      "id": "b56d4e26-12b7-4ec5-9c05-d9172c4a34cf",
      "name": "AI Agent2",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $now }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        -432,
        1024
      ],
      "id": "0f365f29-c7fd-4ee1-93f1-54719ef35cce",
      "name": "Simple Memory3"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"source\": \"Name\",\n  \"headline\": \"Exact article title\",\n  \"summary\": \"First paragraph.\\n\\nSecond paragraph.\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -304,
        1024
      ],
      "id": "ea9edf7a-e918-4bcd-8557-0d0fc577207a",
      "name": "Structured Output Parser3"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract the single most important tech headline from the following raw HTML/JSON: {{ $json.data }}.\n\nInstructions:\n1. Extract the exact title (headline) of the article.\n2. Write the summary as continuous text (not bullet points, lists, or JSON) in **2 concise paragraphs**. The summary should explain the main events, key facts, and any important context.\n3. Write a final paragraph explaining why the story is significant and its potential impact on the tech industry, businesses, or consumers.\n4. Return the output in the following format only:\n\nTitle: <exact article title>\n\nSummary:\n<Paragraph 1>\n\n<Paragraph 2>",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -592,
        3008
      ],
      "id": "403e7f96-fbb8-4293-beb6-0d10892c384a",
      "name": "AI Agent3",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $now }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        -432,
        3232
      ],
      "id": "3cff5e9c-f1eb-479e-904b-5af1be0dff47",
      "name": "Simple Memory2"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"source\": \"Name\",\n  \"headline\": \"Exact article title\",\n  \"summary\": \"First paragraph.\\n\\nSecond paragraph.\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -304,
        3232
      ],
      "id": "dc00e16f-5238-4a99-b904-ff0c31470b18",
      "name": "Structured Output Parser1"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract the single most important political headline from the following raw HTML/JSON: {{ $json.data }}.\n\nInstructions:\n1. Extract the exact title (headline) of the article.\n2. Write the summary as continuous text (not bullet points, lists, or JSON) in **2 concise paragraphs**. The summary should explain the main events, key facts, and any important context.\n3. Write a final paragraph explaining why the story is significant and its potential impact on the political scene, businesses, or consumers.\n4. Return the output in the following format only:\n\nTitle: <exact article title>\n\nSummary:\n<Paragraph 1>\n\n<Paragraph 2>",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -592,
        1600
      ],
      "id": "e94921ca-35f4-4b12-8091-ec148b78acbc",
      "name": "AI Agent4",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $now }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        -432,
        1824
      ],
      "id": "ad311b93-4d2a-484f-bd42-fed8d433d8f8",
      "name": "Simple Memory4"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"source\": \"Name\",\n  \"headline\": \"Exact article title\",\n  \"summary\": \"First paragraph.\\n\\nSecond paragraph.\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -304,
        1824
      ],
      "id": "e15bffc3-021f-4239-af7e-e349686acf35",
      "name": "Structured Output Parser4"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Extract the single most important tech headline from the following raw HTML/JSON: {{ $json.data }}.\n\nInstructions:\n1. Extract the exact title (headline) of the article.\n2. Write the summary as continuous text (not bullet points, lists, or JSON) in **2 concise paragraphs**. The summary should explain the main events, key facts, and any important context.\n3. Write a final paragraph explaining why the story is significant and its potential impact on the tech industry, businesses, or consumers.\n4. Return the output in the following format only:\n\nTitle: <exact article title>\n\nSummary:\n<Paragraph 1>\n\n<Paragraph 2>",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -592,
        3808
      ],
      "id": "3bed7ccf-51f2-42bc-9b70-472ba03d65b4",
      "name": "AI Agent5",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $now }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        -432,
        4032
      ],
      "id": "0b02be82-172e-4a8e-ab81-0f1e2bfeec93",
      "name": "Simple Memory5"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"source\": \"Name\",\n  \"headline\": \"Exact article title\",\n  \"summary\": \"First paragraph.\\n\\nSecond paragraph.\"\n}",
        "autoFix": true
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        -304,
        4032
      ],
      "id": "79800f19-3a13-4ee2-9831-f6b3fdd476cf",
      "name": "Structured Output Parser5"
    },
    {
      "parameters": {
        "numberInputs": 6
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        64,
        1472
      ],
      "id": "fb4e2b26-eeba-4d77-9706-0ab8e45280f2",
      "name": "Merge"
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 1000,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -688,
        224
      ],
      "id": "3c27642d-9edb-469d-a9a8-9788d946b691",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "70h9OtMpY7R3gEfX",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 1000,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -560,
        224
      ],
      "id": "cc1c4f43-8379-4dda-8934-9068bd114db8",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "xQ4SJNmyKC9Metel",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 1000,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -224,
        432
      ],
      "id": "0bd6a85b-d01d-4074-91c9-308838be2128",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "xQ4SJNmyKC9Metel",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 1000,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -688,
        1024
      ],
      "id": "6e36ff9d-fabb-4d14-9344-cf0485043778",
      "name": "Mistral Cloud Chat Model3",
      "credentials": {
        "mistralCloudApi": {
          "id": "70h9OtMpY7R3gEfX",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 1000,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -560,
        1024
      ],
      "id": "278b6f5c-f272-46de-ae5f-cff1b403eed3",
      "name": "OpenRouter Chat Model6",
      "credentials": {
        "openRouterApi": {
          "id": "xQ4SJNmyKC9Metel",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 1000,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -224,
        1232
      ],
      "id": "dae1e0f5-3049-40b8-a82a-34cdca6cd598",
      "name": "OpenRouter Chat Model4",
      "credentials": {
        "openRouterApi": {
          "id": "xQ4SJNmyKC9Metel",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 1000,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -688,
        1824
      ],
      "id": "10d49b78-e1bc-4d22-a6cb-4c81c64caf84",
      "name": "Mistral Cloud Chat Model4",
      "credentials": {
        "mistralCloudApi": {
          "id": "70h9OtMpY7R3gEfX",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 1000,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -560,
        1824
      ],
      "id": "4f146af6-851a-404c-a8e6-fe8e877eb16a",
      "name": "OpenRouter Chat Model7",
      "credentials": {
        "openRouterApi": {
          "id": "xQ4SJNmyKC9Metel",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 1000,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -224,
        2032
      ],
      "id": "1c7599fe-602e-49ce-a9b8-202f693477e0",
      "name": "OpenRouter Chat Model8",
      "credentials": {
        "openRouterApi": {
          "id": "xQ4SJNmyKC9Metel",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 1000,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -688,
        2432
      ],
      "id": "acd32315-532f-4403-9845-d532254348fb",
      "name": "Mistral Cloud Chat Model1",
      "credentials": {
        "mistralCloudApi": {
          "id": "70h9OtMpY7R3gEfX",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 1000,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -560,
        2432
      ],
      "id": "82b84907-1d1a-4eaa-b097-dfc41d7ace23",
      "name": "OpenRouter Chat Model2",
      "credentials": {
        "openRouterApi": {
          "id": "xQ4SJNmyKC9Metel",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 1000,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -224,
        2640
      ],
      "id": "2a4976cd-095e-48bf-b494-038acec98b79",
      "name": "OpenRouter Chat Model5",
      "credentials": {
        "openRouterApi": {
          "id": "xQ4SJNmyKC9Metel",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 1000,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -688,
        3232
      ],
      "id": "ece148be-460a-43fd-9fe4-80765d547606",
      "name": "Mistral Cloud Chat Model2",
      "credentials": {
        "mistralCloudApi": {
          "id": "70h9OtMpY7R3gEfX",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 1000,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -560,
        3232
      ],
      "id": "50e2573a-be25-4c74-b971-f26bfd1a6f15",
      "name": "OpenRouter Chat Model3",
      "credentials": {
        "openRouterApi": {
          "id": "xQ4SJNmyKC9Metel",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 1000,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -224,
        3440
      ],
      "id": "8da139fd-bce8-4094-a524-c99809304aa5",
      "name": "OpenRouter Chat Model9",
      "credentials": {
        "openRouterApi": {
          "id": "xQ4SJNmyKC9Metel",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 1000,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -688,
        4032
      ],
      "id": "b9bb1a69-7708-4e2c-b5cd-f76e63e94550",
      "name": "Mistral Cloud Chat Model5",
      "credentials": {
        "mistralCloudApi": {
          "id": "70h9OtMpY7R3gEfX",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 1000,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -560,
        4032
      ],
      "id": "33a15509-cf87-42fb-95f4-d0c4e4364d82",
      "name": "OpenRouter Chat Model10",
      "credentials": {
        "openRouterApi": {
          "id": "xQ4SJNmyKC9Metel",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 1000,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        -224,
        4240
      ],
      "id": "b6020ccc-bfad-4a7a-aaf2-de235d71c970",
      "name": "OpenRouter Chat Model11",
      "credentials": {
        "openRouterApi": {
          "id": "xQ4SJNmyKC9Metel",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://kilimonews.co.ke/",
        "options": {
          "allowUnauthorizedCerts": false
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -912,
        256
      ],
      "id": "1f7bc12e-c5db-48c0-b74e-41dc81d0f723",
      "name": "HTTP Request",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1Ciedt9DX6Q06V8GEphHd2prp5HjSCEk2FDOxecCSdcY/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ciedt9DX6Q06V8GEphHd2prp5HjSCEk2FDOxecCSdcY/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Source": "={{ $json.output.source }}",
            "Headline": "={{ $json.output.headline }}",
            "Summary": "={{ $json.output.summary }}",
            "Date": "={{ $now }}"
          },
          "matchingColumns": [
            "Date"
          ],
          "schema": [
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Source",
              "displayName": "Source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Headline",
              "displayName": "Headline",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Summary",
              "displayName": "Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        288,
        1536
      ],
      "id": "bf0febce-5951-426f-a24f-3e0be0c0291c",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yZyj6GHp9k6H72Hv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://moringa-projects.app.n8n.cloud/webhook-test/Error Alert",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        64,
        3120
      ],
      "id": "6fa337d5-c433-4609-812d-bdcfd5c38a1b",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "url": "https://moringa-projects.app.n8n.cloud/webhook-test/Error Alert",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        64,
        3872
      ],
      "id": "59371ec2-bad4-432f-abe2-8d251101019d",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "url": "https://moringa-projects.app.n8n.cloud/webhook-test/Error Alert",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        64,
        2368
      ],
      "id": "692be8ad-8bc5-4438-9406-0efb0ea93f74",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "url": "https://moringa-projects.app.n8n.cloud/webhook-test/Error Alert",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        64,
        1872
      ],
      "id": "04b71720-e8bb-4aa2-bcde-6445bf010997",
      "name": "HTTP Request4"
    },
    {
      "parameters": {
        "url": "https://moringa-projects.app.n8n.cloud/webhook-test/Error Alert",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        64,
        160
      ],
      "id": "eb1c6dd5-c9ca-4fa7-9ac9-2bd6b63179dc",
      "name": "HTTP Request5"
    },
    {
      "parameters": {
        "url": "https://moringa-projects.app.n8n.cloud/webhook-test/Error Alert",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -416,
        608
      ],
      "id": "d0ae9801-b575-40be-a83c-81a2c0a8ac5e",
      "name": "HTTP Request6"
    },
    {
      "parameters": {
        "url": "https://moringa-projects.app.n8n.cloud/webhook-test/Error Alert",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -416,
        1408
      ],
      "id": "31a5b49c-cc56-4e8d-a47a-12a37b251d7e",
      "name": "HTTP Request7"
    },
    {
      "parameters": {
        "url": "https://moringa-projects.app.n8n.cloud/webhook-test/Error Alert",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -416,
        2816
      ],
      "id": "98510c0b-24e1-43ca-be5d-ccfdf18da90e",
      "name": "HTTP Request8"
    },
    {
      "parameters": {
        "url": "https://moringa-projects.app.n8n.cloud/webhook-test/Error Alert",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -416,
        3616
      ],
      "id": "d602815f-2b91-4a68-87e9-f03dfc2461ee",
      "name": "HTTP Request9"
    },
    {
      "parameters": {
        "url": "https://moringa-projects.app.n8n.cloud/webhook-test/Error Alert",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -416,
        4416
      ],
      "id": "fd8d1f03-3abb-40a1-9a54-290ceb7fb4ff",
      "name": "HTTP Request10"
    },
    {
      "parameters": {
        "url": "https://moringa-projects.app.n8n.cloud/webhook-test/Error Alert",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        64,
        4064
      ],
      "id": "f1ee662f-651c-4894-a361-10b0262e09ab",
      "name": "HTTP Request11"
    },
    {
      "parameters": {
        "url": "https://moringa-projects.app.n8n.cloud/webhook-test/Error Alert",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -656,
        1952
      ],
      "id": "83e88872-6874-4f95-a1dd-a8cbba5a13b8",
      "name": "HTTP Request12"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Standard Media",
            "type": "main",
            "index": 0
          },
          {
            "node": "Nation Africa",
            "type": "main",
            "index": 0
          },
          {
            "node": "Smart Farmer",
            "type": "main",
            "index": 0
          },
          {
            "node": "Techcabal",
            "type": "main",
            "index": 0
          },
          {
            "node": "Tech Weez",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Smart Farmer": {
      "main": [
        [
          {
            "node": "AI Agent2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Standard Media": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Nation Africa": {
      "main": [
        [
          {
            "node": "AI Agent4",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Techcabal": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tech Weez": {
      "main": [
        [
          {
            "node": "AI Agent5",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser2": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory3": {
      "ai_memory": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser3": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory2": {
      "ai_memory": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser1": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory4": {
      "ai_memory": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser4": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory5": {
      "ai_memory": [
        [
          {
            "node": "AI Agent5",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser5": {
      "ai_outputParser": [
        [
          {
            "node": "AI Agent5",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent5": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request11",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ],
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ],
        [
          {
            "node": "HTTP Request4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ],
        [
          {
            "node": "HTTP Request5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ],
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent2",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "OpenRouter Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "OpenRouter Chat Model8": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "OpenRouter Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser2",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "OpenRouter Chat Model9": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent5",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model10": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent5",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "OpenRouter Chat Model11": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Output Parser5",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "af3f9fc8-6ee9-4d0e-9b7f-a3c003b435bf",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ed40356dc18d2fd219bef530bfaa226a17623d466bca2fef19f39a6a2ffb15c4"
  },
  "nodeGroups": [],
  "id": "UIIzA8Tx2tS4my12",
  "tags": []
}