Capstone error workflow
{
  "name": "Capstone error workflow",
  "nodes": [
    {
      "parameters": {
        "options": {
          "maxTokens": 5000,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        656,
        240
      ],
      "id": "b27c2857-91f9-4dd0-bb39-37a7a75d1263",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "70h9OtMpY7R3gEfX",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 5000,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        784,
        240
      ],
      "id": "aa8de9ba-2d0d-4e4a-9a26-f6109b129814",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "xQ4SJNmyKC9Metel",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $now }}",
        "contextWindowLength": 100
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        912,
        240
      ],
      "id": "e940a2c5-b24b-459e-bfb4-5c9a78cfd1f5",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 1000,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        1120,
        240
      ],
      "id": "ccf37bc5-3209-448b-bdcb-0a3dfee31b66",
      "name": "Mistral Cloud Chat Model1",
      "credentials": {
        "mistralCloudApi": {
          "id": "70h9OtMpY7R3gEfX",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 1000,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        1248,
        240
      ],
      "id": "a3afd8eb-7d95-40f1-9211-7238046ad959",
      "name": "OpenRouter Chat Model1",
      "credentials": {
        "openRouterApi": {
          "id": "xQ4SJNmyKC9Metel",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $now }}",
        "contextWindowLength": 25
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        1376,
        240
      ],
      "id": "7e03b9ba-3510-4067-bf1f-85d764971ce9",
      "name": "Simple Memory1"
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n  \"timestamp\": \"2026-05-15T10:30:00Z\",\n  \"workflowName\": \"Customer Sync Workflow\",\n  \"failedNode\": \"HTTP Request\",\n  \"errorMessage\": \"401 Unauthorized - Invalid API key\",\n  \"rootCause\": \"The API credentials are invalid or have expired.\",\n  \"solution\": \"Verify the API credentials, update the API key if necessary, and test the connection before rerunning the workflow.\",\n  \"priority\": \"High\",\n  \"confidence\": \"High\",\n  \"status\": \"Failed\",\n  \"prevention\":\"avoid using the wrong format\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1504,
        240
      ],
      "id": "6b2a3040-1e3b-4bb4-87eb-9c092390229d",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an expert n8n workflow troubleshooting assistant.\n\nAnalyze the following workflow error:{{ $json['Error '] }}\n\n\n\nBased on this error, provide a detailed analysis in the following format:\n\n1. Error Summary\n- Explain in simple language what the error means.\n\n2. Root Cause\n- Identify the most likely cause(s) of the error.\n- Mention any assumptions if the exact cause cannot be determined.\n\n3. Recommended Solution\n- Provide step-by-step instructions to resolve the issue.\n- If there are multiple possible fixes, rank them from most likely to least likely.\n\n4. Priority Level\nClassify this issue as one of:\n- High: The workflow has completely failed, data loss may occur, critical integrations are down, or manual intervention is immediately required.\n- Medium: The workflow is partially working, affects some users or records, or may become critical if not addressed.\n- Low: Minor issue, warning, cosmetic problem, or temporary issue with minimal business impact.\n\nExplain why you assigned this priority.\n\n5. Prevention\nRecommend best practices to prevent this error from occurring again.\n\n6. Confidence Level\nIndicate your confidence in the diagnosis as High, Medium, or Low, and explain why.\n\nKeep the response concise but actionable.",
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        720,
        16
      ],
      "id": "32ddcb3a-7bbe-4c53-bcb6-d161bd39ef3d",
      "name": "Error Analysis"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1PR3Qqn0gFTeCp-yXM6zkhavjocWqbFtxmroEZRyeVi4/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PR3Qqn0gFTeCp-yXM6zkhavjocWqbFtxmroEZRyeVi4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Time": "={{ $now }}",
            "Error Message": "={{ $json.execution.error.message }}",
            " URL": "={{ $json.execution.url }}",
            "Error ": "={{ $json.execution.error }}"
          },
          "matchingColumns": [
            "Time"
          ],
          "schema": [
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": " URL",
              "displayName": " URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Error ",
              "displayName": "Error ",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        432,
        16
      ],
      "id": "4455c35c-5e73-43df-a348-7588ae2d9ade",
      "name": "Append Error to Google Sheets",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yZyj6GHp9k6H72Hv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1PR3Qqn0gFTeCp-yXM6zkhavjocWqbFtxmroEZRyeVi4",
          "mode": "list",
          "cachedResultName": "Newsletter Error Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PR3Qqn0gFTeCp-yXM6zkhavjocWqbFtxmroEZRyeVi4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 275414563,
          "mode": "list",
          "cachedResultName": "Solution",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1PR3Qqn0gFTeCp-yXM6zkhavjocWqbFtxmroEZRyeVi4/edit#gid=275414563"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Error Message": "={{ $('Append Error to Google Sheets').item.json['Error Message'] }}",
            "Root cause": "={{ $json.output.rootCause }}",
            "Recommended Solution": "={{ $json.output.solution }}",
            "Priority Level": "={{ $json.output.priority }}",
            "Prevention": "={{ $json.output.prevention }}",
            "Confidence Level": "={{ $json.output.confidence }}"
          },
          "matchingColumns": [
            "Priority Level"
          ],
          "schema": [
            {
              "id": "Error Message",
              "displayName": "Error Message",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Root cause",
              "displayName": "Root cause",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Recommended Solution",
              "displayName": "Recommended Solution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Priority Level",
              "displayName": "Priority Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Prevention",
              "displayName": "Prevention",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Confidence Level",
              "displayName": "Confidence Level",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1712,
        16
      ],
      "id": "8bc62582-de84-4027-ba91-718c51481005",
      "name": "Store Structured Results",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "yZyj6GHp9k6H72Hv",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['Priority Level'] }}",
                    "rightValue": "High",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "f624261c-8b26-410e-97c7-3d85c22692f6"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "265ac892-34fa-4727-8a9d-4b334ad3ea4c",
                    "leftValue": "={{ $json['Priority Level'] }}",
                    "rightValue": "Low",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4f22da6c-801f-401b-9e41-a9c87c0b3572",
                    "leftValue": "={{ $json['Priority Level'] }}",
                    "rightValue": "Medium",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1936,
        0
      ],
      "id": "7b3113a1-9b32-4030-89c7-dfd0371d9a05",
      "name": "Priority Level"
    },
    {
      "parameters": {
        "sendTo": "=pm2530273@gmail.com ",
        "subject": "Error Alert",
        "emailType": "text",
        "message": "=Error Message:{{ $('Store Structured Results').item.json['Error Message'] }}\n\nRoot Cause:{{ $('Store Structured Results').item.json['Root cause'] }}\n\nRecommended Solution:{{ $('Store Structured Results').item.json['Recommended Solution'] }}\n\nPriority Level:{{ $('Store Structured Results').item.json['Priority Level'] }}\n\nPrevention:{{ $('Store Structured Results').item.json.Prevention }}\n\nConfidence Level:{{ $('Store Structured Results').item.json['Confidence Level'] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2336,
        32
      ],
      "id": "626bfa03-7190-4bef-8b2e-3d10b1a25903",
      "name": "Final Error Report Email",
      "webhookId": "41f436e0-43d7-4571-bda6-99adb2b7c82b",
      "credentials": {
        "gmailOAuth2": {
          "id": "JTm676SxC2ltaW1E",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a formatting assistant.\n\nTake the provided {{ $json.output }} and reorganize it into the following sections. Do not change the meaning of the content, add new information, or remove important details. Simply classify the information into the appropriate headings.\n\nUse the exact headings below and output them in this order:\n\n## Error Summary\nProvide a concise summary of the error or issue.\n\n## Root Cause\nState the underlying cause(s) of the error.\n\n## Recommended Solution\nList the recommended steps to resolve the issue. If there are multiple solutions, present them as bullet points.\n\n## Priority Level\nAssign one of the following values:\n- Critical\n- High\n- Medium\n- Low\n\nInclude a brief justification for the selected priority.\n\n## Prevention\nDescribe actions or best practices that would help prevent this error from occurring again.\n\n## Confidence Level\nState one of the following:\n- High\n- Medium\n- Low\n\nInclude a one-sentence explanation of why this confidence level was assigned.\n\nRules:\n- Preserve all important information from the original output.\n- Do not invent facts or assumptions.\n- If information for a section is missing, write \"Not provided.\"\n- Return only the formatted output using the headings above.\n- Ensure the output is clear, professional, and easy to read.\n-Every section should go to the next node as a separate JSON object that can be dragged.\n",
        "hasOutputParser": true,
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1216,
        16
      ],
      "id": "ee8b0c64-018e-4393-94c0-90463cf3cae4",
      "name": "Structured Formatting"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.errorTrigger",
      "typeVersion": 1,
      "position": [
        144,
        0
      ],
      "id": "f536ccca-2d07-49e8-a123-bb91f5acac81",
      "name": "Error Trigger"
    }
  ],
  "pinData": {},
  "connections": {
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Error Analysis",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Error Analysis",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Error Analysis",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Formatting",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Structured Formatting",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Simple Memory1": {
      "ai_memory": [
        [
          {
            "node": "Structured Formatting",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Structured Formatting",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Error Analysis": {
      "main": [
        [
          {
            "node": "Structured Formatting",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Error to Google Sheets": {
      "main": [
        [
          {
            "node": "Error Analysis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store Structured Results": {
      "main": [
        [
          {
            "node": "Priority Level",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Priority Level": {
      "main": [
        [
          {
            "node": "Final Error Report Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Final Error Report Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Final Error Report Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Structured Formatting": {
      "main": [
        [
          {
            "node": "Store Structured Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Trigger": {
      "main": [
        [
          {
            "node": "Append Error to Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "58346d0f-ef07-4fea-b1ec-1e33851abd0c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ed40356dc18d2fd219bef530bfaa226a17623d466bca2fef19f39a6a2ffb15c4"
  },
  "nodeGroups": [],
  "id": "yXMfavx0OeQphNjQ",
  "tags": []
}
