Capstone project 2 -Newsletter Distribution
{
  "name": "Capstone project 2",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1Ciedt9DX6Q06V8GEphHd2prp5HjSCEk2FDOxecCSdcY",
          "mode": "list",
          "cachedResultName": "Newsletter spreadsheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ciedt9DX6Q06V8GEphHd2prp5HjSCEk2FDOxecCSdcY/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Ciedt9DX6Q06V8GEphHd2prp5HjSCEk2FDOxecCSdcY/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        0,
        80
      ],
      "id": "4facd6e5-dca4-43bb-ac9c-c63e492452d5",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "P2WQpD3ycW0QA2Ee",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\nYou are an expert data processor. Analyze the incoming data from Google Sheets and format the summary accordingly.\n\nInput Data:\n- Source: {{ $('Google Sheets Trigger').item.json.Source }}\n- Summary/Data: {{ $('Google Sheets Trigger').item.json.Summary }}\n\nProcessing Instructions:\n1. Read through all provided summary text carefully.\n2. Group all summaries by their primary Topic/Headline.\n3. Combine all summaries belonging to the same Topic into a single comprehensive summary.\n4. Remove duplicate or repetitive information while preserving all unique, important details.\n5. Keep each Topic strictly separate—do NOT merge different topics together.\n6. Maintain a logical flow by organizing the combined summary into clear paragraphs or bullet points.\n7. Output the results using the EXACT HTML template below for each unique topic.\n\nHTML Output Template:\n<div style=\"background-color: #1e1e2e; color: #cdd6f4; padding: 24px; border-radius: 12px; font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif; font-size: 15px; line-height: 1.7; border-left: 5px solid #a6e3a1; box-shadow: 0 4px 20px rgba(0, 0, 0, 0.25); margin-bottom: 24px; max-width: 800px;\">\n  <div style=\"display: flex; align-items: center; justify-content: space-between; margin-bottom: 12px; padding-bottom: 12px; border-bottom: 1px solid #313244;\">\n    <span style=\"background-color: #f38ba8; color: #11111b; font-size: 11px; font-weight: 700; text-transform: uppercase; tracking: 0.5px; padding: 4px 10px; border-radius: 20px; display: inline-block;\">[Insert Source Name Here]</span>\n  </div>\n  <h2 style=\"color: #f9e2af; margin: 0 0 16px 0; font-size: 20px; font-weight: 600; line-height: 1.3;\">\"[Insert Topic/Headline Name Here]\"</h2>\n  <div style=\"background-color: #181825; padding: 16px; border-radius: 8px; border: 1px solid #313244;\">\n    <span style=\"color: #89b4fa; font-size: 12px; font-weight: 700; text-transform: uppercase; letter-spacing: 0.8px; display: block; margin-bottom: 8px;\">Summary</span>\n    <div style=\"color: #bac2de; margin: 0; white-space: pre-wrap;\">[Insert the comprehensive merged summary here. Keep paragraphs separated by double line breaks if needed.]</div>\n  </div>\n</div>\n\nCRITICAL RULES FOR OUTPUT:\n- Repeat the complete HTML code block above for EVERY single topic processed.\n- Do NOT omit any unique facts or information.\n- Do NOT fabricate or assume new facts.\n- Do NOT use Markdown code block wrappers (e.g., do NOT wrap the output in ```html ... ```).\n- Output ONLY raw HTML string with zero conversational intro/outro text.",
        "needsFallback": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        496,
        80
      ],
      "id": "8199c7c9-c2e3-44ee-b2a5-f37e4a769a75",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 2000,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        224,
        304
      ],
      "id": "ca10bc54-9fda-467c-b8cb-07c1d2f982d3",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "70h9OtMpY7R3gEfX",
          "name": "Mistral Cloud account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "maxTokens": 2000,
          "temperature": 0.3
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenRouter",
      "typeVersion": 1,
      "position": [
        352,
        304
      ],
      "id": "3bfca8d0-a2c7-49da-a64b-600b3e0ba8d9",
      "name": "OpenRouter Chat Model",
      "credentials": {
        "openRouterApi": {
          "id": "xQ4SJNmyKC9Metel",
          "name": "OpenRouter account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $now }}",
        "contextWindowLength": 50
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.4,
      "position": [
        480,
        304
      ],
      "id": "4f2612c5-5df0-495e-9498-41bb4faa046a",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "pm2530273@gmail.com",
        "subject": "newsletter approval",
        "message": "={{ $json.output }}",
        "approvalOptions": {
          "values": {
            "approvalType": "double"
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        896,
        80
      ],
      "id": "ab91d912-ba75-4a77-a0f7-9ce1b4069a69",
      "name": "Send message and wait for response",
      "webhookId": "9d7dd9af-84c1-4b9b-b14e-87a7efaddf87",
      "credentials": {
        "gmailOAuth2": {
          "id": "JTm676SxC2ltaW1E",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1120,
        80
      ],
      "id": "849f7ac4-8878-4131-83df-7653fece2efc",
      "name": "Wait",
      "webhookId": "125ebc07-1cc9-4d86-98cf-04b4044b498f"
    },
    {
      "parameters": {
        "sendTo": "=pm2530273@gmail.com ,ian.kariuki2@student.moringaschool.com ,billoa42ccf@gmail.com ,keegan.weke@student.moringaschool.com ,faithhelen2@gmail.com",
        "subject": "Newsletter",
        "message": "={{ $('AI Agent').item.json.output }}",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1712,
        80
      ],
      "id": "439bf059-82ca-428c-8a26-4ba855130f95",
      "name": "Send a message",
      "webhookId": "3bace90d-a433-4fbf-9a33-43003335295c",
      "credentials": {
        "gmailOAuth2": {
          "id": "JTm676SxC2ltaW1E",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "08d48410-264e-472d-b85d-9fb71489d41d",
              "leftValue": "={{ $json.data.approved }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1328,
        80
      ],
      "id": "3e536850-1f86-4c13-af38-dbae5de14891",
      "name": "If"
    }
  ],
  "pinData": {
    "Google Sheets Trigger": [
      {
        "json": {
          "row_number": 2,
          "change_type": "added",
          "Date": "2026-07-21T11:03:42.644+03:00",
          "Source": "https://techweez.com/ \n\nhttps://www.standardmedia.co.ke/rss/politics.php \n\nhttps://nation.africa/kenya/news/state-land-under-scrutiny-as-mps-order-ownership-probe--5532746\n\nSmart Farmer Africa\n\nhttps://kilimonews.co.ke\n\nTechCabal\n\n",
          "Headline": "South Africa wants every SIM card to become a trusted digital ID\n\nNandi Bets on Cooperatives and Value Addition to Revive Coffee Sector\n\nKenya launches KES1trillion national Agri-Food Systems Investments Plan (2026-2030) as 3rd FINAS summit kicks off in Nairobi\n\nState land under scrutiny as MPs order ownership probe\n\nPauline Njoroge resigns from Jubilee Party\n\nAI Is Giving Kenya’s Competition Watchdog a New Kind of Headache",
          "Summary": "This story is significant because it highlights the urgent need for regulatory bodies like the CAK to evolve alongside technological advancements. AI’s growing influence in digital markets poses a threat to fair competition, consumer rights, and economic stability. If left unchecked, AI-driven monopolies and collusive practices could stifle innovation, limit consumer choice, and concentrate economic power in the hands of a few dominant players. For businesses, this underscores the importance of ethical AI deployment and proactive engagement with regulators. For consumers, it raises concerns about market fairness and the potential for exploitation. Ultimately, the CAK’s challenges serve as a wake-up call for policymakers worldwide to develop robust, adaptive regulatory frameworks that can keep pace with the rapid evolution of AI technology.\n\nDigital Communications Strategist Pauline Njoroge has announced her resignation from the Jubilee Party, where she served as the Deputy Organizing Secretary for 14 years. Njoroge revealed that she is leaving to join the Linda Mwananchi movement, signaling a potential shift in her political alliances and ambitions. Her departure comes at a time of heightened political activity in Kenya, with various factions realigning ahead of the 2027 General Election. The move underscores the evolving dynamics within Jubilee and the broader political landscape as parties prepare for upcoming electoral battles.\n\nNjoroge’s resignation is significant given her long-standing role in Jubilee and her influence as a digital strategist. Her decision to join Linda Mwananchi, a movement gaining traction in Kenyan politics, suggests a strategic realignment that could impact the party’s structure and future electoral strategies. This development reflects the fluid nature of Kenyan politics, where loyalty and alliances are often tested by shifting priorities and ambitions.\n\nParliamentary committees in Kenya have been tasked with investigating the ownership of state land following growing concerns over irregularities and potential mismanagement. The probe, ordered by Members of Parliament, aims to uncover the truth behind controversial land allocations and ensure transparency in how public land is managed. The parliamentary committee has been given a six-month deadline to conduct the investigation and present its findings, signaling a potential crackdown on corruption and illegal land grabs that have plagued the country for years. This move comes amid public outrage over high-profile cases involving politically connected individuals allegedly benefiting from dubious land deals.\n\nKenya has launched a landmark KES 1.081 trillion (approximately $10.8 billion) national Agri-Food Systems Investments Plan for 2026-2030, aimed at transforming the country’s agricultural sector. The initiative was unveiled during the third FINAS summit in Nairobi, bringing together key stakeholders to address critical challenges such as climate resilience, expanding irrigation, modernizing agricultural value chains, and strengthening food security. The plan underscores the government’s commitment to creating resilient food systems and boosting productivity to ensure long-term sustainability.\n\nThe investment plan is designed to address structural weaknesses in Kenya’s agricultural sector, including reliance on rain-fed farming, low productivity, and vulnerability to climate change. By focusing on expanding irrigation, enhancing value chains, and promoting climate-smart agricultural practices, the government aims to reduce food insecurity and improve livelihoods for millions of farmers. The plan also aligns with broader regional and global goals to create sustainable and inclusive agricultural systems.\n\nNandi County in Kenya is making a strategic push to revitalize its coffee sector by leveraging cooperatives and value addition. The county, once a leading coffee producer, is focusing on empowering smallholder farmers through collective marketing and processing to enhance productivity and profitability. By strengthening cooperatives, farmers are expected to gain better bargaining power, access to resources, and improved market linkages. Additionally, the emphasis on value addition—such as processing coffee locally before export—aims to capture more revenue within the county and improve the quality of the final product.\n\nThe initiative comes at a time when Kenya’s coffee industry faces challenges such as fluctuating global prices, competition from other crops, and the need for modernization. Nandi County’s government and stakeholders are investing in training programs, infrastructure, and partnerships to support farmers in adopting modern farming techniques and technologies. The goal is to increase coffee production, improve quality, and ultimately boost the incomes of thousands of smallholder farmers who depend on coffee as their primary livelihood.\n\nSouth Africa is overhauling its SIM registration system to strengthen identity verification and curb digital fraud. The proposed reforms, developed by mobile operators and the Department of Justice and Constitutional Development, introduce stronger identity verification using real-time checks against the Department of Home Affairs (DHA) database. This initiative aims to make SIM registration as reliable as the identity checks banks already use, reducing fraud on banking and fintech platforms while giving law enforcement a stronger tool to investigate cybercrime. The changes extend beyond telecoms, addressing weaknesses in the current system that have allowed pre-registered SIM cards and identity theft to flourish, linking them to financial fraud and organised crime. Authorities have also linked improperly registered SIM cards to banking fraud, cash-in-transit robberies, kidnappings, contract killings, and cybercrime, prompting a crackdown and stricter enforcement measures. The government plans to step up enforcement, with penalties of up to R5 million ($303,000) or imprisonment of up to 10 years for non-compliance, starting from July 2026. The reforms follow an urgent meeting convened by the Justice Minister to address weaknesses in South Africa’s SIM registration system, which has been criticised for allowing bulk SIM registrations using false identities, making it harder for investigators to trace suspects. The new verification process will operate under the Protection of Personal Information Act (POPIA), ensuring that personal information is collected and processed securely. The industry’s long-term goal is to eliminate identity theft in SIM registration, remove pre-registered SIM cards from circulation, and restore trust in South Africa’s mobile identity system.\n\n"
        },
        "pairedItem": {
          "item": 0
        }
      }
    ]
  },
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenRouter Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 1
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send message and wait for response",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Send message and wait for response": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "errorWorkflow": "yXMfavx0OeQphNjQ",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "5dce4235-c809-44ba-8c07-a43d5f5577c8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ed40356dc18d2fd219bef530bfaa226a17623d466bca2fef19f39a6a2ffb15c4"
  },
  "nodeGroups": [],
  "id": "UsXAAFvVVDAiuDQ5",
  "tags": []
}
